In [3]:
import pandas as pd
import numpy as np

csData = \
pd.read_csv("../../stddev/dataset/customerdata.csv", encoding = "ms949")

# 출력할 컬럼을 맵핑함
targetColumns = ["CUSTID","AVGPRICE"]

# targetColumns을 전부 보여준다.
# csData.loc[:,["CUSTID":DEVICECOUNT]]연속적인 컬럼을 조회하고 싶으면 이런 형식으로 조회가능하다.
customerDataC = csData.loc[:,targetColumns]
customerDataC

     CUSTID     AVGPRICE
0    A13566  4273.900000
1    A14219  3642.441950
2    A15312  3653.884565
3    A16605  3713.211107
4    B10634  3391.074215
..      ...          ...
145  Z13253  3678.800000
146  Z13534  3662.437527
147  Z16428  3516.500000
148  Z16735  3300.100000
149  Z19835  3326.526183

[150 rows x 2 columns]

In [7]:
# 컬럼의 인덱스를 기준으로 조회함
# 0:3일때 loc에서는 0~3이고, iloc에서는 0~2이다.
csData.iloc[0:3, 0:3]

   CUSTID     AVGPRICE  EMI
0  A13566  4273.900000    3
1  A14219  3642.441950    2
2  A15312  3653.884565    2

In [13]:
emi3Data = csData.loc[csData.EMI == 3]

# 인덱스를 0부터 새로 부여함.
# drop은 기존 인덱스번호를 보여줄지 안보여줄지 지정함
# inplace는 즉시 해당변수에 반영을 시키겠다는 뜻이다. (메모리를 효과적으로 사용가능)
emi3Data.reset_index(drop=True, inplace=True)
emi3Data

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   F17131  3179.708359    3            6    1.100000        Early-bird
2   G16437  3787.328898    3            6    1.000000        Early-bird
3   G18402  3402.199381    3            6    1.000000        Early-bird
4   H16326  3988.935304    3            6    0.900000        Early-bird
5   I12899  3018.895637    3            6    0.900000        Early-bird
6   J10809  3676.135627    3            6    0.800000        Early-bird
7   J15083  2811.265932    3            6    0.900000        Early-bird
8   J16445  3041.848186    3            6    0.800000        Early-bird
9   L13892  3263.515145    3            6    1.100000        Early-bird
10  N13273  3839.694732    3            6    1.100000        Early-bird
11  R16364  3592.353540    3            6    0.900000        Early-bird
12  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
13  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
14  V18566  3527.701867    3            6    0.900000        Early-bird
15  W13404  4296.873743    3            6    1.100000        Early-bird
16  X13390  2947.543982    3            6    1.100000        Early-bird
17  Z11525  3259.018704    3            6    0.900000        Early-bird
18  Z13534  3662.437527    3            6    0.900000        Early-bird

In [15]:
import pandas as pd
import numpy as np

# 파일을 불러옴
kopo_customerData = \
pd.read_csv("../../stddev/dataset/kopo_customerdata.csv", encoding = "ms949")

# 출력할 컬럼을 맵핑함
targetColumns = ["STATENAME","GENDER"]

# 목표컬럼의 전체 데이터 중 위에서 5개 행만 출력함
result = kopo_customerData.loc[0:4,targetColumns]
result

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

In [17]:
# 이런 방법도 있음
Datacolumns = kopo_customerData.columns
stateIndex = Datacolumns.get_loc("STATENAME")
genderIndex = Datacolumns.get_loc("GENDER")
kopo_customerData.loc[0:4,[stateIndex,genderIndex]]